<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <h1>PC components</h1>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <v-expansion-panels>
        <DraggableOptionsList
          listName="Central Processor Units"
          :items="cpus.data"
          :itemsCount="cpus.meta.countAfterFiltering"
        />
        <DraggableOptionsList
          listName="Graphic Processor Units"
          :items="gpus.data"
          :itemsCount="gpus.meta.countAfterFiltering"
        />
        <DraggableOptionsList
          listName="RAMs"
          :items="rams.data"
          :itemsCount="rams.meta.countAfterFiltering"
        />
        <DraggableOptionsList
          listName="Motherboards"
          :items="motherboards.data"
          :itemsCount="motherboards.meta.countAfterFiltering"
        />
        <DraggableOptionsList
          listName="Power Supplies"
          :items="powerSupplies.data"
          :itemsCount="powerSupplies.meta.countAfterFiltering"
        />
        <DraggableOptionsList
          listName="Hard Disk Drives"
          :items="hdds.data"
          :itemsCount="hdds.meta.countAfterFiltering"
        />
        <DraggableOptionsList
          listName="Solid-State Drives"
          :items="ssds.data"
          :itemsCount="ssds.meta.countAfterFiltering"
        />
      </v-expansion-panels>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import DraggableOptionsList from "./components/DraggableOptionsList.vue";
import { 
  getAllCpu,
  getAllGpu,
  getAllRam,
  getAllHdd,
  getAllMotherboard,
  getAllRamType,
  getAllPowersupplies,
  getAllSocket,
  getAllSsd,
} from './api/services';

export default Vue.extend({
  name: "App",

  components: {
    DraggableOptionsList
  },

  data: () => ({
    cpus: {
      data: [],
      meta: {
        countAfterFiltering: 0,
      }
    },
    gpus: {
      data: [],
      meta: {
        countAfterFiltering: 0,
      }
    },
    hdds: {
      data: [],
      meta: {
        countAfterFiltering: 0,
      }
    },
    motherboards: {
      data: [],
      meta: {
        countAfterFiltering: 0,
      }
    },
    powerSupplies: {
      data: [],
      meta: {
        countAfterFiltering: 0,
      }
    },
    rams: {
      data: [],
      meta: {
        countAfterFiltering: 0,
      }
    },
    ssds: {
      data: [],
      meta: {
        countAfterFiltering: 0,
      }
    },
  }),
  mounted: async function(this: any) {
    const cpusPromise = getAllCpu({  });
    const gpusPromise = getAllGpu({  });
    const ramsPromise = getAllRam({  });
    const hddPromise = getAllHdd({  });
    const motherboardsPromise = getAllMotherboard({  });
    const powerSuppliesPromise = getAllPowersupplies({  });
    const ssdsPromise = getAllSsd({  });

    const cpus = await cpusPromise;
    const gpus = await gpusPromise;
    const rams = await ramsPromise;
    const hdds = await hddPromise;
    const motherboards = await motherboardsPromise;
    const powerSupplies = await powerSuppliesPromise;
    const ssds = await ssdsPromise;

    this.cpus = cpus;
    this.gpus = gpus;
    this.rams = rams;
    this.hdds = hdds;
    this.motherboards = motherboards;
    this.powerSupplies = powerSupplies;
    this.ssds = ssds;
  }
});
</script>
