<template>
  <v-container>
    <v-expansion-panel>
      <v-expansion-panel-header>
        <span class="bold-name">{{listName}}</span>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-list >
          <v-list-item-group
            v-model="selectedItem"
            color="primary"
          >
            <v-list-item v-for="(item) in items" :key="item.id" class="unbound">
              <!-- <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon> -->
              <v-list-item-title>{{item.name}}</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
        <v-pagination
          v-model="page"
          class="my-4"
          prev-icon="mdi-menu-left"
          next-icon="mdi-menu-right"
          :total-visible="7"
          :length="pagesCount"
        ></v-pagination>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { itemsPerPageCount } from '../common/constant';

export default Vue.extend({
  name: "DraggableOptionsList",
  data: () => ({
    selectedItem: null,
    page: 1,
  }),
  props: {
    listName: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
    itemsCount: {
      type: Number,
      required: true, 
    }
  },
  computed: {
    pagesCount: function(this: any) {
      return Math.ceil(this.itemsCount / itemsPerPageCount);
    }
  }
});
</script>

<style skoped>
  .bold-name {
    font-weight: bold;
  }
  /* .unbound.unbound {
    position: absolute;
  } */
</style>
